.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.newsList {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.newsList.show {
  opacity: 1;
  transform: translateY(0);
}

.newsItemContainer {
  margin-bottom: 20px;
  text-align: left;
}

.newsItem {
  margin: 10px 0;
  font-size: 18px;
}

.details {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.question {
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.question.show {
  opacity: 1;
  transform: translateY(0);
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #0087DC; /* 画像に近い青色 */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  background-color: #007BBE; /* ホバー時の少し濃い青色 */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.explainButton {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  background-color: #A6DCEF; /* 解説ボタン用の明るい青色 */
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.explainButton:hover {
  background-color: #90C7DE;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.heading {
  color: #333;
  margin-bottom: 20px;
}


.selectedNews {
  background-color: #d0e0ff; /* 選択されたニュースの背景色 */
  border: 2px solid #0070f3; /* 選択されたニュースの境界色 */
}